<h2>Home</h2>
<p>The quick brown fox jumped over the lazy dog</p>
<form id="ticker-search" (ngSubmit)="doSearch()">
	<input type="text" 
				 name="ticker-search" 
				 placeholder="{{text.stockSearchPlaceholder}}" 
				 [formControl]="stockSearch"
				 required
	/>
	<button type="submit" [disabled]="!stockSearch.valid"><i class="fa fa-search"></i></button>
</form>
<div class="search-results" *ngIf="searchResults.quotes.quote && searchResults.quotes.quote.length > 0">
	<button (click)="clearSearch()" title="Clear Stock Search">X</button>
	<ng-container *ngFor="let q of searchResults.quotes.quote">
		<app-stock-quote [quote]="q"></app-stock-quote>
	</ng-container>
</div>

<div class="col-md-6">
    <div cdkDropList [cdkDropListData]="list2" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of list2" class="pop" cdkDrag>{{item}}</div>
    </div>
</div>
<div class="col-md-6">
    <div cdkDropList [cdkDropListData]="list1" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of list1" class="pop" cdkDrag>{{item}}</div>
    </div>
</div>