/******************************************************************

1600px and up

******************************************************************/
#header {
	padding: 0.7rem 2rem 0.3rem 2rem;
	background-color: $red;
}

#body {
	.body {
		max-width: 1600px;
		margin: 0 auto;
		padding: 0 2rem;
	}
}

#not-found{
}
