/******************************************************************
Mobile
******************************************************************/
#header {
	padding: 0.4rem 1rem 0.2rem 1rem;
	background-color: $red;
}

#body {
	.body {
		padding: 0 1rem;
	}
}

.stock-quote {
	border: 1px solid $gray-700;
	padding: 0 2rem 1rem 2rem;
	margin: 1rem 0;
}